*.class
.DS_Store

# Package Files #
*.war
*.ear
*.iws

# IntelliJ project files
*.iml
*.ipr
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

test-reports
classes
target
*.log
target/

# PSNR test sequences and output files
resources/psnr/output/
resources/psnr/test_sequences/

# hmm not sure if we should ignore this, actually
.settings/org.eclipse.m2e.core.prefs
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.vscode/settings.json
